# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.pmtiles

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

data/

# Virtual environments
.venv/
venv/
env/
ENV/
.venv.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# pytest
.cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Logs
*.log
logs

# Local data
*.sqlite3
*.db
*.duckdb
data/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Model files
*.pt
*.pth
*.h5
*.ckpt

# Misc
*.bak
*.swp
*.tmp

# Ignore output and temp files
output/
tmp/
